## Q1. Find the largest number from the given list, use for loop.

In [6]:
numbers = [12, 75, 150, 180, 145, 525, 50]
l_number = 0
for i in numbers:
    if i > l_number:
        l_number = i
print(f"Largest number in the given list is : {l_number}")

Largest number in the given list is : 525

## Q2. Print all the even number between (1, 12).

In [10]:
for i in range (1,12):
    if i % 2 ==0:
        print (i)

2
4
6
8
10

## Q3. Calculate the sum of all numbers from 1 to a given number

* Expected Output:

* Enter number 10

* Sum is: 55

In [11]:
number=int(input("Enter a  number: "))
total = 0
for i in range(1,number+1):
    total = i + total             
print(f"Sum is: {total}")

Enter a  number: 10
Sum is: 55

## Q4. Write a program to display only those numbers from a list that satisfy the following conditions
##### The number must be divisible by five

##### If the number is greater than 150, then skip it and move to the next number

##### If the number is greater than 500, then stop the loop

#given
### numbers = [12, 75, 150, 180, 145, 525, 50]

In [13]:
# Testing the code with individual condition and then will combine 
numbers = [12, 75, 150, 180, 145, 525, 50]

numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:

    if i % 5 ==0:
        print(i)

75
150
180
145
525
50

In [16]:
num1 = [75,150,180,145,525,50]
for i in num1:
    if i> 500:
        break
    print(i)

75
150
180
145

In [18]:
num2= [75,150,180,145]
for i in num2:
    if i> 150:
        continue
    print(i)

75
150
145

In [19]:
## Combining all conditions 

numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:

    if i % 5 ==0:
        if i > 500:
            break
        if i>150:
            continue
        print(i)

75
150
145

## Q5. Print the given list in reverse order.

#### list1 = [10, 20, 30, 40, 50]

In [24]:
list1 = [10, 20, 30, 40, 50]
for i in reversed(list1):
    print(i)

50
40
30
20
10